
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

body{
  margin: 0;
  padding: 2px;
  background-color: #040d15;
  color: white;
  flex-direction: column;
  font-size : 12px;

}

.cent{
  text-align: center;
  margin-top: 10px;
}

.cen{
  text-align: center;
  margin-left: 10%;
}

.b{
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  border-radius: 40px;
  background:linear-gradient(90deg,#0162c8,#55e7fc);
}

.b:nth-child(2){
  background: linear-gradient(90deg,#755bea,#ff72c0);
}

.bc{
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}

.contact-color{
  color: white;
  margin-left: 10px;
  margin: 10px;
  text-decoration: none;
}

i{
  margin-left: 15px;
}

#phei li{
  margin: 5px;
  text-decoration: none;
}

.mid{
    justify-content: center;
}