@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Raleway;
  background-color: #040d15;
}

.main-header{
  background-color: black;
 display: flex;
  padding: 20px;

}

.main-header a{
  padding: 20px 41px;
  color: white;
  text-decoration: none;

}

/*  -------------- a chhung hi main header -------------- */


/*------------------store name------------------ */

.store-name{
  background-color: white;
  height: 200px;
  margin: 20px 5px;
  display: flex;
  padding: 5px;
}



.store-name div{
  height: 100%;
  width: 50%;
  background-color: white;
  margin: 2px;
}

.store-owner-name{
  text-align: center;
  padding-top: 10px;
}

div .store-question{
  display: flex;
  height: 150px;
  width: 20px;
}

section div p {
  font-size: 10px;
  width: 95px;
  height: 20px;
}

.store-details .store-question {
    width: 100px;
}

section div .store-answ{
  height: 90px;
}

div .product-image{
  padding: 3px;
}

.store-product h1{
  color: white;
  text-align: center;
}
/*------------------store product------------------ */

div img.dawr-pic{
  height: 200px;
  width: 180px;
}

div .dawrpichnuai{
  height: 50px;
  width: 100%;
}

div .dawrpic-hnuai{
  margin-left: 35%;
  margin-top: 12px;
}

.dawrpichnuai button{
  background-color: #040d15;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

div .product-image{
  border: 3px solid white;
  height: 280px;
  color: white;
  display: flex;
}

div .product-thlalak{
  height: 100%;
  width: 45%;
}

div .right{
  margin-left:25px ;
  margin-top: 5px;

}

div .left{
  padding: 5px;
}

.pro-question p{
  font-size: 10px;
  width: 53px;
}

div .product-lem{
  height: 50%;

}

div .product-main{
  height: 100%;
  width: 85%;
}


div .pro-img-details{
  height: 60px;
  display: flex;
}

div .pro-hming{
  text-align: center;
}

div .pro-question{
  width: 35%;
  padding-top: 12px;
  height: 50px;
}

div .pro-answers{
  width: 65%;
  padding-top: 12px;
  height: 50px;
}

.pro-answers p{
  font-size: 10px;
  width: 105px;
  
}

.store-product h5{
  padding-top: 5px;
}

div .detailsenna button{
  margin-left: 20px;
}

div .detailsenna button p{
  margin-top: 5px;
}

div .r{
  margin-left: 20px;
  width: 100%;
}
